{% extends 'adminLayout.html.twig' %}
{% block title %}Dossier de {{ folder.lastname ~ ' ' ~ folder.firstname  }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/adminAdmissionShow.css">
{% endblock %}
{% block content %}
    <section>
        <h1 class="m-lg-4 text-center">Dossier de {{ folder.lastname ~ ' ' ~ folder.firstname  }}</h1>
        <h3>Statut: {{ folder.statut }}</h3>
        <div class="d-flex flex-column fiche-signaletique p-4 border border-primary rounded m-3 col-lg-8">
            <div class="d-flex col-12 mb-4 justify-content-center flex-md-row flex-column">
                <form class="col-md-4 col-10 m-2" method="post">
                    <input type="hidden" value="{{ folder.id }}" name="id">
                    <input type="hidden" name="statut" value="En attente">
                    <input class="btn btn-outline-danger col-12" type="submit" value="Mettre en attente">
                </form>
                <form class="col-md-4 col-10 m-2"  method="post">
                    <input type="hidden" value="{{ folder.id }}" name="id">
                    <input type="hidden" name="statut" value="Validé">
                    <input class="btn btn-outline-primary col-12" type="submit" value="Valider">
                </form>
            </div>
            <div class="d-flex my-3 flex-column flex-md-row">
                <div class=" col-md-4">
                    <p class="text-md-left text-center title ">Nom</p>
                    <p>{{ folder.lastname }}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-md-left text-center title" >Prénom</p>
                    <p>{{ folder.firstname }}</p>
                </div>
                <div class="col-md-4">
                    <p class="text-md-left text-center title">Coordonnées</p>
                    <p>{{ folder.street}}</p>
                    <p>{{ folder.postal_code }}</p>
                    <p>{{ folder.city }}</p>
                </div>
            </div>
            <div class="d-flex my-3 justify-content-md-around flex-md-row flex-column ">
                <div class="col-md-5">
                    <ul >
                        <li> Situation : {{ folder.marital_status }}</li>
                        <li> Date de naissance : {{ folder.dateofbirth }}</li>
                        <li> Téléphone : {{ folder.phone }}</li>
                        <li> Email : {{ folder.mail }}</li>
                    </ul>
                </div>
                <div class="d-flex flex-column col-md-5">
                    <p class="title">Documents administratifs:</p>
                    <p>Le dossier contient {{ files }} fichier(s)</p>

                </div>
            </div>


        </div>
        <div class="d-flex justify-content-around col-md-8 col-11">
            <form class="col-md-3 p-0" action="/AdminAdmission/delete/{{ folder.id }}" method="post">
                <input type="submit" class="btn btn-outline-danger col-12 " value="Supprimer" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer le dossier {{ folder.lastname ~ ' ' ~ folder.firstname }} ?')">
            </form>
            <a class="btn btn-outline-primary col-md-3 col-4" href="/uploads/{{ folder.zip_path }}">Télécharger</a>
            <a class="btn btn-outline-primary col-md-3 col-4" href="/AdminAdmission/index">Retour</a>
        </div>
    </section>
{% endblock %}
