<form class="d-flex row col-10 mx-auto flex-column align-items-center border border-primary rounded p-4" action="" method="post" enctype="multipart/form-data">
    <div class="form-group col-5 my-3">
        <label for="address_id">Adresse: </label>
        <select class="form-control" id="address_id" name="address_id" value="{% if not empty %}{{ room.address_id }}{% endif %}" required>
            {% for address in addresses %}
                <option value="{{ address.id }}">{{ address.name }}</option>
            {% endfor %}
        </select>
        {% if errors.address_id %}
            <div class="text-danger">{{ errors.address_id }}</div>
        {% endif %}
    </div>
    <div class="form-group col-5 my-3">
        <label for="type">Type: </label>
        <input class="form-control" id="type" name="type" type="text" value="{% if not empty %}{{ room.type }}{% endif %}" required >
        {% if errors.type %}
            <div class="text-danger">{{ errors.type }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="area">Surface: </label>
        <input class="form-control" id="area" name="area" type="number" value="{% if not empty %}{{ room.area }}{% endif %}">
        {% if errors.area %}
            <div class="text-danger">{{ errors.area }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="guarantee">Dépot de garantie: </label>
        <input class="form-control" id="guarantee" name="guarantee" type="number" step="0.01" value="{% if not empty %}{{ room.guarantee }}{% endif %}" required >
        {% if errors.guarantee %}
            <div class="text-danger">{{ errors.guarantee }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="equipment">Équipement: </label>
        <input class="form-control" id="equipment" name="equipment" type="text" value="{% if not empty %}{{ room.equipment }}{% endif %}">
        {% if errors.equipment %}
            <div class="text-danger">{{ errors.equipment }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="catering">Crédit restauration : </label>
        <input class="form-control" id="catering" name="catering" type="number" step="0.01" value="{% if not empty %}{{ room.catering }}{% endif %}">
        {% if errors.catering %}
            <div class="text-danger">{{ errors.catering }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="contribution">Assurance et/ou contribution : </label>
        <input class="form-control" id="contribution" name="contribution" type="number" step="0.01" value="{% if not empty %}{{ room.contribution }}{% endif %}">
        {% if errors.contribution %}
            <div class="text-danger">{{ errors.contribution }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="breakfast">Petit déjeuner : </label>
        <input class="form-control" id="breakfast" name="breakfast" type="text" value="{% if not empty %}{{ room.breakfast }}{% endif %}">
        {% if errors.breakfast %}
            <div class="text-danger">{{ errors.breakfast }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="equipment_contribution">Frais d'équipement : </label>
        <input class="form-control" id="equipment_contribution" name="equipment_contribution" type="number" step="0.01" value="{% if not empty %}{{ room.equipment_contribution }}{% endif %}">
        {% if errors.equipment_contribution %}
            <div class="text-danger">{{ errors.equipment_contribution }}</div>
        {% endif %}
    </div>

    <div class="form-group col-5 my-3">
        <label for="picture">Photo du logement: </label>
        <input class="form-control" id="picture" name="picture" type="file" value="{% if not empty %}{{ room.picture }}{% endif %}">
        {% if errors.picture %}
            <div class="text-danger">{{ errors.picture }}</div>
        {% endif %}
    </div>
    <div class="mx-auto col-10 d-flex justify-content-between my-4">
        <input class="btn btn-outline-primary col-4" type="submit" value="Valider">
        <a class="btn btn-outline-primary col-4" href="/AdminRoom/index">Retour</a>
    </div>

</form>
