{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="rooms">
        <section>
            <h2>Nos logements:</h2>
            <div class=" row justify-content-around ">
                {% for room in rooms %}
                    <div class="card col-lg-5 col-10 " >
                        <figure>
                            <figcaption class="card-title">{{ room.type }}</figcaption>
                            <img src="{{ room.picture }}" class="card-img-top" alt="picture_{{ room.type }}_{{ room.address }}">
                        </figure>
                        <div class="card-body justify-content-around">
                            <h3 class="card-title">Description:</h3>
                            <p class="card-text">{{ room.description }}</p>
                            <h3 class="card-title">Tarif:</h3>
                            <p class="card-text"><strong>{% set room_price = room.guarantee+room.catering+
                                        room.contribution+room.equipment_contribution %}
                                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                                        {% set room_price = room_price + room.breakfast %}
                                    {% endif %}
                                    {{  room_price |round(2, 'floor') }}€</strong></p>
                            <h3 class="card-title">Adresse:</h3>
                            <p class="card-text">{{ room.address }}</p>
                            <a href="#" class="btn btn-primary">+ d'infos</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    <section>
        <h2>Grille tarifaire:</h2>
        <table class="table table-striped table-borderless">
            <thead>
            <tr>
                <th scope="col">Adresse</th>
                <th scope="col">Type</th>
                <th scope="col">Surface</th>
                <th scope="col">Nuitée</th>
                <th scope="col">Semaine</th>
                <th scope="col">Mois</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
            <tr>
                <td >{{ room.address }}</td>
                <td >{{ room.type }}</td>
                <td>{% if room.area == 0 %}/{% else %}{{ room.area }} m²{% endif %}</td>
                <td>{% set room_price =  ((room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution)/30) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
                <td>{% set room_price =  (((room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution)/30)*7) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
                <td>{% set room_price = room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

            <div class="mt-5">
                <h2>Formulaire de pré-insciption</h2>
                <form class="d-flex flex-column justify-content-around border border-primary rounded-lg" action="" method="post" enctype="multipart/form-data" >
                    <p>Vous pouvez nous joindre par téléphone au 02.38.42.23.30 ou par email en utilisant la partie <a
                                href="../home/index">Contact</a> de notre site. Si vous le désirez vous pouvez remplir un dossier
                        de pré-admission en ligne ci-dessous:</p>
                    <div class="d-flex justify-content-center">
                        <div class="col-3 form-group">
                            <input name="maritalstatus" id="maritalstatus" type="radio" value="Célibataire" required>
                            <label for="maritalstatus">Célibataire</label>
                        </div>
                        <div class="col-3 form-group">
                            <input name="maritalstatus" id="maritalstatus" type="radio" value="En couple" required>
                            <label for="maritalstatus">En couple</label>
                        </div>
                        {% if errors.maritalstatus %}
                            <div class="text-danger">{{ errors.maritalstatus }}</div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-around my-3">
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="firstname">Nom</label>
                            <input class="form-control" name="firstname" id="firstname" type="text" value="{{ data.firstname }}" required>
                            {% if errors.firstname %}
                                <div class="text-danger">{{ errors.firstname }}</div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="lastname">Prénom</label>
                            <input class="form-control" type="text" name="lastname" id="lastname" value="{{ data.lastname }}" required>
                            {% if errors.lastname %}
                                <div class="text-danger">{{ errors.lastname }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-around my-3">
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="street">Rue</label>
                            <input class="form-control" type="text" name="street" id="street" value="{{ data.street }}" required>
                            {% if errors.street %}
                                <div class="text-danger">{{ errors.street }}</div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="city">Ville</label>
                            <input class="form-control" type="text" id="city" name="city" value="{{ data.city }}" required>
                            {% if errors.city %}
                                <div class="text-danger">{{ errors.city }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-around my-3">
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="phone">Téléphone</label>
                            <input class="form-control" type="tel" id="phone" name="phone" value="{{ data.phone }}" required >
                            {% if errors.phone %}
                                <div class="text-danger">{{ errors.phone }}</div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="postalcode">Code postal</label>
                            <input class="form-control" type="number" id="postalcode" name="postalcode" value="{{ data.postalcode }}" required >
                            {% if errors.postalcode %}
                                <div class="text-danger">{{ errors.postalcode }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-around my-3">
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="dateofbirth">Date de naissance</label>
                            <input class="form-control" type="date" id="dateofbirth" name="dateofbirth" value="{{ data.dateofbirth }}" required >
                            {% if errors.dateofbirth %}
                                <div class="text-danger">{{ errors.dateofbirth }}</div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="mail">Adresse mail</label>
                            <input class="form-control" type="email" id="mail" name="mail" value="{{ data.mail }}" required >
                            {% if errors.mail %}
                                <div class="text-danger">{{ errors.mail }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-around my-3">
                        <ol class="col-5">
                            <li>- Pièce d'identité</li>
                            <li>- Avis d'imposition</li>
                            <li>- Carte vitale</li>
                            <li>- Photo d'identité</li>
                            <li>- Autorisation d'hébergement pour les mineurs</li>
                            <li>- Engagement d'un garant</li>
                        </ol>
                        <div class="d-flex flex-column col-5 form-group">
                            <label for="file">Vos Documents</label>
                            <input class="form-control" type="file" name='file[]' multiple>
                            {% if errors.file %}

                                <div class="text-danger">{{ errors.file }}</div>

                            {% endif %}
                        </div>
                    </div>

                    <div class="d-flex offset-3 col-6 form-group">
                        <button class="my-3 btn btn-primary btn-lg">Envoyer le dossier</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}