{% extends 'layout.html.twig' %}

{% block content %}

        {% for price in prices %}
            <ul>
                {% if price.picture is not empty %}
                    <li>{{ price.picture }}</li>
                {% endif %}
                <li>{{ price.description }}</li>
            </ul>
        {% endfor %}
    <table class=" text-center" id="content">
        <thead>
            <tr>
                <td scope="col" class="col-1">Type</td>
                <td scope="col">Adresse</td>
                <td scope="col">Surface</td>
                <td scope="col">Équipement sanitaire</td>
                <td scope="col">Dépôt garantie</td>
                <td scope="col">Cotisation</td>
                <td scope="col">Équipement</td>
                <td scope="col">Petit déjeuner</td>
                <td scope="col">Crédit restauration</td>
                <td scope="col">Nuitée</td>
                <td scope="col">Semaine</td>
                <td scope="col">Mois</td>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td scope="row">{{ price.type }}</td>
                <td>{{ price.address }}</td>
                <td>{% if price.area is not empty %}{{ price.area }} m²{% endif %}</td>
                <td>{% if price.equipment is not empty %}{{ price.equipment }}{% endif %}</td>
                <td>{{ price.guarantee }} €</td>
                <td>{{ price.contribution }} €</td>
                <td>{% if price.equipment_contribution is not empty %}{{ price.equipment_contribution }} €{% endif %}</td>
                <td>{% if price.breakfast is not empty %}{{ price.breakfast }} €{% endif %}</td>
                <td>{% if price.restoration is not empty %}{{ price.restoration }} €{% endif %}</td>
                <td>{{ (price.total/30)|round(2, 'floor') }} €</td>
                <td>{{ ((price.total/30)*7)|round(2, 'floor') }} €</td>
                <td>{{ price.total }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
