{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include '/Home/navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="rooms">
    <section>
        <h2>Nos logements:</h2>
        <div class=" row justify-content-around ">
            {% for room in rooms %}
                <div class="card col-lg-5 col-10 " >
                    <figure>
                        <figcaption class="card-title">{{ room.type }}</figcaption>
                        <img src="{{ room.picture }}" class="card-img-top" alt="picture_{{ room.type }}_{{ room.address }}">
                    </figure>
                    <div class="card-body justify-content-around">
                        <h3 class="card-title">Description:</h3>
                        <p class="card-text">{{ room.description }}</p>
                        <h3 class="card-title">Tarif:</h3>
                        <p class="card-text"><strong>{% set room_price = room.guarantee+room.catering+
                                    room.contribution+room.equipment_contribution %}
                                {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                                    {% set room_price = room_price + room.breakfast %}
                                {% endif %}
                                {{  room_price |round(2, 'floor') }}€</strong></p>
                        <h3 class="card-title">Adresse:</h3>
                        <p class="card-text">{{ room.address }}</p>
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>Grille tarifaire:</h2>
        <table class="table table-striped table-borderless">
            <thead>
            <tr>
                <th scope="col">Adresse</th>
                <th scope="col">Type</th>
                <th scope="col">Surface</th>
                <th scope="col">Nuitée</th>
                <th scope="col">Semaine</th>
                <th scope="col">Mois</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
            <tr>
                <td >{{ room.address }}</td>
                <td >{{ room.type }}</td>
                <td>{% if room.area in [0] %}/{% else %}{{ room.area }} m²{% endif %}</td>
                <td>{% set room_price =  ((room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution)/30) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
                <td>{% set room_price =  (((room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution)/30)*7) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
                <td>{% set room_price = room.guarantee+room.catering+
                        room.contribution+room.equipment_contribution %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}