{% extends 'layout.html.twig' %}

{% block content %}
<h2>Nos logements:</h2>
<div class="bloc-price">
    <h2>Nos logements:</h2>
    <div class=" row ">
        {% for room in rooms %}
            <div class=" col-1 "></div>
            <div class="card  col-lg-4 col-10" style="width: 18rem;">
                <figure>
                    <figcaption class="card-title">{{ room.type }}</figcaption>
                    <img src="{{ room.picture }}" class="card-img-top" alt="picture_{{ room.type }}_{{ room.address }}">
                </figure>
                <div class="card-body justify-content-around">
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">{{ room.description }}</p>
                    <h5 class="card-title">Tarif:</h5>
                    <p class="card-text">{% if room.breakfast is null or room.breakfast is same as('inclus') %}
                            {{ room.guarantee+room.restoration+room.contribution+room.equipment_contribution }}
                        {% else %}{{ room.guarantee+room.restoration+room.contribution+room.equipment_contribution+
                        room.breakfast }}{% endif %} €</p>
                    <h5 class="card-title">Adresse:</h5>
                    <p class="card-text">{{ room.address }}</p>
                    <a href="#" class="btn btn-primary">+ d'infos</a>
                </div>
            </div>
            <div class=" col-1"></div>
        {% endfor %}
    </div>
{% endblock %}