{% extends 'layout.html.twig' %}

{% block content %}
<div class="rooms">

        <h2>Nos logements:</h2>
        <div class=" row justify-content-around ">
            {% for room in rooms %}
                <div class="card col-lg-5 col-10 " >
                    <figure>
                        <figcaption class="card-title">{{ room.type }}</figcaption>
                        <img src="{{ room.picture }}" class="card-img-top" alt="picture_{{ room.type }}_{{ room.address }}">
                    </figure>
                    <div class="card-body justify-content-around">
                        <h3 class="card-title">Description:</h3>
                        <p class="card-text">{{ room.description }}</p>
                        <h3 class="card-title">Tarif:</h3>
                        <p class="card-text"><strong>{% set room_price = room.guarantee+room.restoration+
                                    room.contribution+room.equipment_contribution %}
                                {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                                    {% set room_price = room_price + room.breakfast %}
                                {% endif %}
                                {{  room_price |round(2, 'floor') }}€</strong></p>
                        <h3 class="card-title">Adresse:</h3>
                        <p class="card-text">{{ room.address }}</p>
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    <h2>Grille tarifaire:</h2>
    <div class="price-tab justify-content-around">
        <div class="text-center">
            <p>Type</p>
            {% for room in rooms %}
                <p>{{ room.type }}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Adresse</p>
            {% for room in rooms %}
                <p>{{ room.address }}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Surface</p>
            {% for room in rooms %}
                <p>{% if room.area is empty %}/{% else %}{{ room.area }} m²{% endif %}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Nuitée</p>
            {% for room in rooms %}
                <p>{% set room_price =  ((room.guarantee+room.restoration+
                        room.contribution+room.equipment_contribution)/30) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Semaine</p>
            {% for room in rooms %}
                <p>{% set room_price =  (((room.guarantee+room.restoration+
                        room.contribution+room.equipment_contribution)/30)*7) %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Mois</p>
            {% for room in rooms %}
                <p>
                    {% set room_price = room.guarantee+room.restoration+
                        room.contribution+room.equipment_contribution %}
                    {% if room.breakfast is not null and room.breakfast != 'inclus' %}
                        {% set room_price = room_price + room.breakfast %}
                    {% endif %}
                    {{  room_price |round(2, 'floor') }} €</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}