{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Nos logements:</h2>
        {% for room in rooms %}
            <ul>
                {% if room.picture is not empty %}
                    <li>{{ room.picture }}</li>
                {% endif %}
                <li>{{ room.description }}</li>
            </ul>
        {% endfor %}

    <h2>Grille tarifaire:</h2>
    <div class="d-flex justify-content-around" id="content">
        <div class="text-center">
            <p>Type</p>
            {% for room in rooms %}
                <p>{{ room.type }}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Adresse</p>
            {% for room in rooms %}
                <p>{{ room.address }}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Surface</p>
            {% for room in rooms %}
                <p>{{ room.area }} m²</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Nuitée</p>
            {% for room in rooms %}
                <p>{{ (room.total/30)|round(2, 'floor') }} €</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Semaine</p>
            {% for room in rooms %}
                <p>{{ ((room.total/30)*7)|round(2, 'floor') }} €</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <p>Mois</p>
            {% for room in rooms %}
                <p>{{ room.total }} €</p>
            {% endfor %}
        </div>

    </div>


{% endblock %}
