{% extends 'layout.html.twig' %}

{% block content %}
    <div class="bloc-price">
        <h2>Nos logements:</h2>
        <div class=" row ">
            {% for price in prices %}
                <div class=" col-1 "></div>
                <div class="card  col-lg-4 col-10" style="width: 18rem;">
                    <figure>
                        <figcaption class="card-title">{{ price.type }}</figcaption>
                        <img src="{{ price.picture }}" class="card-img-top" alt="picture_{{ price.type }}_{{ price.address }}">
                    </figure>
                    <div class="card-body justify-content-around">
                        <h5 class="card-title">Description:</h5>
                        <p class="card-text">{{ price.description }}</p>
                        <h5 class="card-title">Tarif:</h5>
                        <p class="card-text">{{ price.total }}</p>
                        <h5 class="card-title">Adresse:</h5>
                        <p class="card-text">{{ price.address }}</p>
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                    </div>
                </div>
                <div class=" col-1"></div>
            {% endfor %}
        </div>


        <h2>Grille tarifaire:</h2>
        <table class=" table text-center" id="content">
            <thead>
            <tr>
                <td>Type</td>
                <td>Adresse</td>
                <td>Surface</td>
                <td>Équipement sanitaire</td>
                <td>Dépôt garantie</td>
                <td>Cotisation</td>
                <td>Équipement</td>
                <td>Petit déjeuner</td>
                <td>Crédit restauration</td>
                <td>Nuitée</td>
                <td>Semaine</td>
                <td>Mois</td>
            </tr>
            </thead>
            <tbody>
            {% for price in prices %}
                <tr>
                    <td>{{ price.type }}</td>
                    <td>{{ price.address }}</td>
                    <td>{% if price.area is not empty %}{{ price.area }} m²{% endif %}</td>
                    <td>{% if price.equipment is not empty %}{{ price.equipment }}{% endif %}</td>
                    <td>{{ price.guarantee }} €</td>
                    <td>{{ price.contribution }} €</td>
                    <td>{% if price.equipment_contribution is not empty %}{{ price.equipment_contribution }} €{% endif %}</td>
                    <td>{% if price.breakfast is not empty %}{{ price.breakfast }} €{% endif %}</td>
                    <td>{% if price.restoration is not empty %}{{ price.restoration }} €{% endif %}</td>
                    <td>{{ (price.total/30)|round(2, 'floor') }} €</td>
                    <td>{{ ((price.total/30)*7)|round(2, 'floor') }} €</td>
                    <td>{{ price.total }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
