<section>
    <div class="row offset-1">
        <div class="col-4 offset-1">
            <h2>Nous contacter</h2>
            <p>Vous pouvez nous envoyer un message afin d'avoir des précisions ou des informations supplémentaires en remplissant ce formulaire, nous vous recontacterons dans les plus brefs délais.</p>
            <p>Vous pouvez également nous joindre par téléphone au 02.38.42.23.30</p>
        </div>

        <div class="col-5 col-md-6 offset-1">
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="lastname">Nom*</label>
                        <input required type="text" class="form-control" id="lastname" name="lastname" placeholder="Alderson" value="{{ post.lastname }}">
                        <div class="formErrors">
                            {% if errors.lastname %}
                                <div class="alert alert-danger mt-1" role="alert">{{ errors.lastname }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group col-md-4 offset-1">
                        <label for="firstname">Prénom*</label>
                        <input required type="text" class="form-control" id="firstname" name="firstname" placeholder="Elliot" value="{{ post.firstname }}">
                        <div class="formErrors">
                        {% if errors.firstname %}
                            <div class="alert alert-danger mt-1" role="alert">{{ errors.firstname }}</div>
                        {% endif %}
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="phone">Téléphone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="0601020304" value="{{ post.phone }}">
                        <div class="formErrors">
                        </div>
                    </div>


                    <div class="form-group col-md-4 offset-1">
                        <label for="email">Adresse mail</label>
                        <input   type="email" class="form-control" id="email" name="email" placeholder="alderson.elliot@gmail.com" value="{{ post.email }}">
                        <div class="formErrors">
                        </div>
                    </div>
                </div>

                <div class="form-group col-9 px-0">
                    <label for="message">Message*</label>
                    <textarea required class="form-control" id="message" name="message" rows="4" placeholder="Je souhaiterai vous contacter à propos de..." value="{{ post.message }}"></textarea>
                    <div class="formErrors">
                    {% if errors.message %}
                        <div class="alert alert-danger mt-1" role="alert">{{ errors.message }}</div>
                    {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
                <div class="alert-light" role="alert">
                    <p>Les champs marqués d'un * obligatoire</p>
                </div>
            </form>
        </div>
    </div>
</section>
